# Pandas - part2:- Handling Missing values, Aggregations & Sorting in Pandas

### Handling Missing values

Concept & Why Required.

Missing vaues (NaN/NA) distored analysis and machine learnging models. They can:

- Skew statistical calculations(mean, median)
- Causes error during model training
- Lead to incorrect conclusion

## METHODS TO HANDLE MISSING VALUES

- IMPUTATION: Filling with missing value with mean/median/mode
- Deletion: Remove row/column with missing values(use cautiously)

## When to use:

| Method | When to use                      |
 --------|----------------------------------|
| Mean   | Numeric data, normal distribution |
| Median | Numerical data skewed distribution |
| Mode   | categorical data(e.g. 'weather' in our dataset) |
| Delete | <5% missing data & no meaningful pattern (MCAR - Missing completely AT random)|

## Example 1: Loading data and finding missing values

In [4]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp311-cp311-macosx_11_0_arm64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.23.2 in /opt/anaconda3/envs/jl311/lib/python3.11/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/envs/jl311/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/envs/jl311/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp311-cp311-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 17.2 MB/s eta 0:00:0000:010:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]2m2/3 [pandas]
Successfully installed pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

df = pd.read_csv('data_clean.csv')
df.head()

  Product  Price  Quantity
0       A  172.0       6.0
1       B  149.0       5.0
2       3    NaN       4.0
3       B  131.0       7.0
4       5  188.0       NaN

In [6]:
df.tail()

   Product  Price  Quantity
6        7    NaN       6.0
7        H  140.0       NaN
8        9  155.0       4.0
9        J  200.0       8.0
10     NaN  155.0       4.0

In [7]:
df.isnull()

    Product  Price  Quantity
0     False  False     False
1     False  False     False
2     False   True     False
3     False  False     False
4     False  False      True
5     False  False     False
6     False   True     False
7     False  False      True
8     False  False     False
9     False  False     False
10     True  False     False

In [8]:
df.isnull().sum()

Product     1
Price       2
Quantity    2
dtype: int64

## Imputations

In [9]:
df["Price"]

0     172.0
1     149.0
2       NaN
3     131.0
4     188.0
5     160.0
6       NaN
7     140.0
8     155.0
9     200.0
10    155.0
Name: Price, dtype: float64

In [10]:
price_median = df['Price'].median()
print(price_median)

155.0

In [11]:
df["Price"].fillna(price_median,inplace=True) #True meams its update in same object, False it will copy of the object

In [12]:
df['Price']

0     172.0
1     149.0
2     155.0
3     131.0
4     188.0
5     160.0
6     155.0
7     140.0
8     155.0
9     200.0
10    155.0
Name: Price, dtype: float64

In [13]:
quality_mean = df['Quantity'].mean()
print(quality_mean)

5.222222222222222

In [14]:
 df['Product'].isna().sum()

np.int64(1)

In [15]:
product_mode =  df['Product'].mode()
product_mode

0    B
Name: Product, dtype: object

In [27]:
df["Product"].fillna(product_mode,inplace=True)

In [21]:
df['Product'].isna().sum()

np.int64(1)

In [22]:
df.isnull().sum()

Product     1
Price       0
Quantity    2
dtype: int64

In [28]:
df['Quantity'].isna().sum()

np.int64(2)

In [30]:
qul_mean = df['Quantity'].mean()

In [34]:
df['Quantity'].fillna(qul_mean,inplace=True)

/var/folders/ch/9fftrrks1h18pm7dtrn2zqcr0000gn/T/ipykernel_31153/2625736459.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(qul_mean,inplace=True)

In [35]:
df['Quantity'].isna().sum()

np.int64(0)

In [36]:
df

   Product  Price  Quantity
0        A  172.0  6.000000
1        B  149.0  5.000000
2        3  155.0  4.000000
3        B  131.0  7.000000
4        5  188.0  5.222222
5        F  160.0  3.000000
6        7  155.0  6.000000
7        H  140.0  5.222222
8        9  155.0  4.000000
9        J  200.0  8.000000
10     NaN  155.0  4.000000

## Aggregations (groupBY, mean)

In [37]:
df['Product']

0       A
1       B
2       3
3       B
4       5
5       F
6       7
7       H
8       9
9       J
10    NaN
Name: Product, dtype: object

In [38]:
prod_grp = df.groupby('Product')
print(prod_grp['Price'].mean())

Product
3    155.0
5    188.0
7    155.0
9    155.0
A    172.0
B    140.0
F    160.0
H    140.0
J    200.0
Name: Price, dtype: float64

In [40]:
df.groupby('Product')['Price'].max()

Product
3    155.0
5    188.0
7    155.0
9    155.0
A    172.0
B    149.0
F    160.0
H    140.0
J    200.0
Name: Price, dtype: float64

In [41]:
df.head(6 ## top 6 data of the csv file

  Product  Price  Quantity
0       A  172.0  6.000000
1       B  149.0  5.000000
2       3  155.0  4.000000
3       B  131.0  7.000000
4       5  188.0  5.222222
5       F  160.0  3.000000

In [42]:
df.groupby('Product')['Price'].sum()

Product
3    155.0
5    188.0
7    155.0
9    155.0
A    172.0
B    280.0
F    160.0
H    140.0
J    200.0
Name: Price, dtype: float64

## Summary Cheat Sheet

|  task | code example |
--------|--------------|
| find missing values | df.isnull().sum()|
| fill with mean|df['col'].fillna(df['col'].mean())|
| Group by & mean | df.groupby('col')['target'].mean()|
| Sort values | df.sort_values(by='col',ascending=false)|