In [3]:
print("Welcome to python community")

Welcome to python community

## Structures of python

### Tokens are smalles units in python like constant, variable, operator etc.

In [6]:
import keyword
print("python keywords",keyword.kwlist)

python keywords ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### variables and identifiers are same

In [ ]:
valid_identifier1 = "EmployeeName"
valid_identifier2 = "_salary"
valid_identifier3 = "totalRevenue2023"

In [ ]:
invalid_identifier1 = "2names"
invalid_identifier2 = "class"

## valid identifier Rules

1. Must Start with a letter or underscore(_)

2. Can contain Letters(A-Z, a-z),Digits (0-9), and Underscrores(_)

3. Cannot Be a python Keyword (Reserved Word)

4. Case sensitive

5. No space Allowed

### Variables and Data types

In [8]:
sales_count = 500 # Integer
discount = 200.50 # Float
product_name = "Laptop" # String
is_available = True

In [9]:
type(is_available)

bool

In [11]:
print(type(is_available),type(sales_count),type(discount),type(product_name))

<class 'bool'> <class 'int'> <class 'float'> <class 'str'>

### Pyhton Operators

#### addition

In [12]:
total = 150 +200
print("Addition Amount",total)

Addition Amount 350

#### subtraction

In [14]:
total = 150 - 200
print("Subtraction Amount",total)

Subtraction Amount -50

#### Multiplication

In [15]:
total = 150 * 200
print("Multiplication Amount",total)

Multiplication Amount 30000

#### division

In [19]:
total = 100 / 44
print("Multiplication Amount",total)

Multiplication Amount 2.272727272727273

#### Floor Division (//)

In [20]:
boxes = 17 // 5
print('Full Boxed', boxes)

Full Boxed 3

#### Modulus (%) always works as reminder

In [21]:
boxes = 17 % 5
print('Full Boxed', boxes)

Full Boxed 2

#### Exponentiation (**)

In [23]:
compund = 2**3
print(compund)

8

In [27]:
item1_price, item1_quantity = 40,2
item2_price, item2_quantity = 30,3

In [28]:
item1_total = item1_price * item1_quantity
item2_total = item2_price * item2_quantity

In [29]:
subtotal = item1_total + item2_total

In [36]:
discount1 = 20
final_total = subtotal - discount1

In [35]:
print("subtotal: ", subtotal)
print("Discount: ", discount1)
print("Final total bill: ", final_total)

subtotal:  170

NameError: name 'discount1' is not defined

### comparator

In [37]:
marks = 75
print('pass marks==75', marks == 75)

pass marks==75 True

In [38]:
print('pass marks==75', marks != 75)

pass marks==75 False

In [39]:
print('pass marks==75', marks > 75)

pass marks==75 False

In [40]:
print('pass marks==75', marks >= 75)

pass marks==75 True

In [41]:
print('pass marks==75', marks <= 75)

pass marks==75 True

### Logical Operator

In [42]:
bp = 135
sugar = 180
print('crictical',bp > 130 and sugar > 150)

crictical True

In [45]:
bp = 135
sugar = 180
print('crictical',bp < 130 or sugar > 150)

crictical True

In [49]:
bp = 135
sugar = 180
print('crictical',not bp > 130 or sugar > 150)

crictical True

#### Assigment operator

In [50]:
stock = 100
stock += 20
print(stock)

120

In [51]:
stock = 100
stock -= 20
print(stock)

80

In [52]:
stock = 100
stock *= 20
print(stock)

2000

In [53]:
stock = 100
stock /= 20
print(stock)

5.0

In [54]:
stock = 100
stock //= 20
print(stock)

5

In [55]:
stock = 100
stock %= 20
print(stock)

0

#### bitwise operator (perform bit by bit operation)

In [56]:
a = 5 # in binary format : 0101
b = 3 # in binary format : 0011
result = a & b
print(result)

1

In [57]:
a = 5 # in binary format : 0101
b = 3 # in binary format : 0011
result = a | b
print(result)

7

#### identity and membership operator

In [58]:
a = None
print("Is none", a is None)

Is none True

In [59]:
a = 5
print("Is none", a is not None)

Is none True

In [61]:
skills = ['python','sql','excel']
print('pysthon is the skill','python' in skills)

pysthon is the skill True

In [63]:
skills = ['python','sql','excel']
print('pysthon is the skill','AI' not in skills)

pysthon is the skill True

#### Indentation Conditional Statements if, if-else,elif in python

In [64]:
age = 18
if age>=18 :
    print("you can vote in election")

you can vote in election

In [70]:
if age > 5:
print("Error!")

IndentationError: expected an indented block after 'if' statement on line 1 (1821814780.py, line 2)

In [71]:
age = 22
if age>=18:
    print("ticket price:200 (adult)")
else:
    print("ticket price: 100 (child)")

ticket price:200 (adult)

#### how to take input from the user

In [72]:
a=input('enter a number')
b=a/10
print(b)

enter a number 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [73]:
a=int(input('enter a number'))
b=a/10
print(b)

enter a number 10

1.0

In [74]:
marks = int(input('enter marks'))
if marks>90:
    print("Grade A+ (topper)")
elif marks >=80:
    print("Grade B (good)")
else:
    print("Grade C (Average)")

enter marks 85

Grade B (good)

#### Write a program to accept a number from user as input, check and display it is odd or even number.

In [79]:
a = int(input("enter a number to find out even or odd"))

result = a%2

if result == 0:
    print("is even number")
else:
    print("is odd number")

enter a number to find out even or odd 9

is odd number

#### Flipkart wants to give discount based on purchase amount
 * 5000+ -> 20% off
 * 3000+ -> 10% off
 * Else -> No discount

In [85]:
amount = int(input("Enter the final purchase amount"))

if amount >= 5000:
    print("Getting discount off 20%")
    discount = amount * 0.2
    print("final amount is",amount-discount)
elif amount >= 3000:
    print("Getting discount off 10%")
    discount = amount * 0.1
    print("final amount is",amount-discount)
else:
    print("no discount",amount)

Enter the final purchase amount 5000

Getting discount off 20%
final amount is 4000.0

#### Loops in python: while and for with Use - Cases

##### while loop syntax

\# initiasiation

while condition:<br>
    - \# code block<br>
    - \# updation<br>

In [92]:
i = 1 # initialisation
while i <= 5: # condition
    print(i)
    i+=1 # updation

1
2
3
4
5

In [93]:
i=1
if i<=5:
    print(i)
    i+=1

1

#### Sum of numbers from 1 to n

In [1]:
n = int(input("enter a number"))
i = 1
total = 0
while i<=n:
    total +=i
    i+=1

print("Sum on of n ",n,"is ",total)

enter a number 10

Sum on of n  10 is  55

##### syntax for **for** loop
   for variable in sequence:
       - \# code block

#### three types of range
* range(n) -> 0 to n-1
* range(start,stop) -> from start to stop -1
* range(start,stop, step) -> step can be postive or negative

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
print(range(5))

range(0, 5)

In [7]:
# print reverse number
for i in range(5,0,-2):
    print(i)

5
3
1

In [9]:
#### Factorial of a number
n = int(input("Enter a number"))
fact = 1

for i in range(1,n+1):
    fact*=i
print("factorial number is ",fact)

Enter a number 5

factorial number is  120

#### Marksheet Generator
problem: print roll number and subject marks fir 3 students and 3 subjects using nested for loops

In [10]:
for student in range(1,4):
    print("\nRoll No:", student)
    for subject in range(1,4):
        print("subject:",subject,"marks:", subject *10)

Roll No: 1
subject: 1 marks: 10
subject: 2 marks: 20
subject: 3 marks: 30

Roll No: 2
subject: 1 marks: 10
subject: 2 marks: 20
subject: 3 marks: 30

Roll No: 3
subject: 1 marks: 10
subject: 2 marks: 20
subject: 3 marks: 30

#### Nested loops, break and continue

In [12]:
# mulitlication table
for i in range(1,4):
    for j in range(1,4):
        print(i*j,end="\t")
    print()

1	2	3
2	4	6
3	6	9

#### Right Angled Triangled Pattern

In [14]:
rows = 5
for i in range(1,rows+1):
    for j in range(i):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

#### Matrix sum without list

In [15]:
total = 0
for i in range(1,4):
    for j in range(1,4):
        num = int(input(f"enter element at postion [{i},{j}]: "))
        total+=num
print("Total sum of all matrix element is: ", total)

enter element at postion [1,1]:  1
enter element at postion [1,2]:  2
enter element at postion [1,3]:  3
enter element at postion [2,1]:  4
enter element at postion [2,2]:  5
enter element at postion [2,3]:  6
enter element at postion [3,1]:  7
enter element at postion [3,2]:  8
enter element at postion [3,3]:  9

Total sum of all matrix element is:  45

#### break statement

In [20]:
for i in range(1,101):
    if i%7 == 0:
        print("First multiple of 7 is:",i)
        break

First multiple of 7 is: 7

In [24]:
while True:
    number = int(input("Enter a number (negative to stop): "))
    if number<0:
        print("Negative number is entered. Existing loop.")
        break    
    print("you entered:",number)

Enter a number (negative to stop):  -1

Negative number is entered. Existing loop.

In [25]:
#### continue
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

#### find and print even number

In [27]:
for i in range(1,11):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

#### Problem Statement: A class has 5 students. For each student, ask how many days they were present out of 30.

• Skip the entry if the attendance is negative (use continue )

• If attendance is more than 30, show a warning and stop the loop (use break )

• Use a nested loop structure if we later expand to include multiple classes

In [ ]:
for student in range(1,6):
    print(f"\nchecking student{student}")
    attendance = int(input("Enter attendence (0 to 30): "))

    if attendance < 0:
        print("invalid data. skiping student.")
        continue
    if attendance > 30:
        print("Data error. stopping system.")
        break

    print("Record attendance:",attendance)

checking student1

Enter attendence (0 to 30):  23

Record attendance: 23

checking student2

Enter attendence (0 to 30):  12

Record attendance: 12

checking student3